[user]
	name = Benjamin
	email = benjamin.guy.thomas@gmail.com
[alias]
	co = checkout
	st = status
	d = diff
	br = branch
	l = log -20 --decorate --oneline --graph --branches
[core]
	editor = vim
	excludesfile = /home/benjamin/.gitignore_global
[push]
	default = simple
[merge]
	tool = vimdiff
