[user]
	name = Benjamin
	email = benjamin.guy.thomas@gmail.com
[alias]
	co = checkout
	st = status
	d = diff
	br = branch
	l = log -20 --decorate --oneline --graph --branches
[core]
	editor = vim
	excludesfile = /home/benjamin/.gitignore_global
	autocrlf = input
  pager = delta
[push]
	default = simple
[merge]
	tool = vimdiff

[interactive]
    diffFilter = delta --color-only

[delta]
    features = line-numbers decorations side-by-side
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
