[Desktop Entry]

Type=Application
Version=1.0
Name=Chromium (work)
Exec=chromium-browser --password-store=basic --user-data-dir=.config/google-chrome-work/ %U
Icon=chromium-browser
Terminal=false
Categories=Network;WebBrowser;
X-MultipleArgs=false
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
