[Desktop Entry]

Type=Application
Version=1.0
Name=Chromium (dev)
Exec=chromium-browser --password-store=basic --user-data-dir=.config/google-chrome-dev/
Icon=chromium-browser
Terminal=false
Categories=Network;WebBrowser;
