snippet mydiv "div tag test"
<div>
	a test
</div>
endsnippet

snippet html5shim "HTML5 shim tag" b
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
endsnippet
