snippet html5shim "HTML5 shim tag" b
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
endsnippet

snippet header "" b
<header>
   $1 
</header>
$0
endsnippet

snippet footer "" b
<footer>
   $1 
</footer>
$0
endsnippet
